@model IEnumerable<FeastFreedom03.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserPassword)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SQAnswer1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SQAnswer2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.UserName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UserEmail)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UserPassword)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SQAnswer1)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SQAnswer2)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UserID)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.UserID }) |
        @Html.ActionLink("Details", "Details", new { id = item.UserID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.UserID })
    </td>
</tr>
}

</table>
